@import "bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-size: var(--font-size);
}

:root {
  --bs-primary: #007bff; 
}

/* Hero Section */
.hero-section {
  background: linear-gradient(120deg, #007bff 0%, #1f1e1e 100%);
  color: #fff;
  padding: 80px 0;
}
.hero-section h1 {
  font-size: 3rem;
  font-weight: 700;
}

/* Services */
.services-icon {
  font-size: 2.5rem;
  color: var(--bs-primary);
}

/* Navbar */
.headerSection {
  background: linear-gradient(120deg, #007bff 0%, #1f1e1e 100%);
  color: #fff;
}
.nav-link.active {
  color: var(--bs-primary) !important;
}

/* Cards */
.card:hover {
  box-shadow: 0 4px 30px rgba(5, 151, 242, 0.25);
  transform: scale(1.03);
  transition: 0.2s;
}

/* Buttons */
.bookAppointment {
  color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
}

.viewDetails,
.submitButton,
.btn-outline-info {
  background: var(--bs-primary);
  color: #fff !important;
  border: none;
  transition: all 0.3s ease;
}

.viewDetails:hover,
.submitButton:hover,
.btn-outline-info:hover {
  background: #0069d9;
}

/* Edit/Delete Buttons */
.btn-outline-warning {
  color:var(--bs-primary);
  border-color:var(--bs-primary);
}
.btn-outline-warning:hover {
  background-color:var(--bs-primary);
  color: #000;
}


.onViewDetails{
  background: linear-gradient(120deg, #007bff 0%, #1f1e1e 100%);
  color: #fff;
  transition: all 3s;
}
.onViewDetails:hover{
  background-color: var(--bs-primary);
  color: white;
}
/* Save button inside modal */
.btn-success {
  background: var(--bs-primary);
  border: none;
}
.btn-success:hover {
  background: #0069d9;
}

/* Footer */
footer {
  background-color: #f8f9fa;
  color: #6c757d;
}
